<%= stylesheet_link_tag 'monthly_report', plugin: 'monthly_report' %>
<div class='card-container'>
    <div class='card'>
    <%= form_with url: generate_report_path(format: :xlsx), method: :post, local: true do |f| %>
        <h1>Генерация отчета</h1>
        <% @groups123.each do |group| %>
        <% next if group.name == 'Анонимные пользователи' || 
        group.name == 'Не участвующие пользователи' || 
        group.name == 'Anonymous' || 
        group.name == 'Non member'%>
        <div>
            <%= check_box_tag 'groups[]', group.name, @selected_groups.include?(group.id.to_s), class: 'checkbox-other'  %>
            <%= label_tag "groups_#{group.name}", group.name%>
        </div>
        <% end %>
        <label for="starte_date">Дата начала:</label>
            <%= f.date_field 'start_date'%>
        <label>Дата окончания:</label>
        <%= f.date_field 'end_date'%>
        <%= f.submit "Сгенерировать", class: ''%>  
    <% end %>
    </div>
    <div class='card'>
        <h1 class=''>Генерация плана работ</h1>
            <%= form_with url: generate_planning_path(format: :xlsx), method: :post, local: true do |j| %>
                <% @groups123.each do |group| %>
                <% next if group.name == 'Анонимные пользователи' || 
                    group.name == 'Не участвующие пользователи' || 
                    group.name == 'Anonymous' || 
                    group.name == 'Non member'%>
        <div>
            <%= check_box_tag 'groups[]', group.name, @selected_groups.include?(group.id.to_s), class: 'checkbox-other'  %>
            <%= label_tag "groups_#{group.name}", group.name%>
        </div>
                <% end %>
            <label>Дата нача планирования:</label>
            <%= j.date_field 'planning_date'%>
            <%= j.submit "Планирование", class: ''%>
            <% end %>
    </div>
    <div class='card'>
        <h1 class=''>Отчет по проектам</h1>
        <%= form_with url: project_report_path(format: :xlsx), method: :post, local: true do |l|%>
            <div>
            <%= l.label :project_id, "Выбор проекта:" %><br>
            <%= l.select :project_id,
            Project.visible(User.current).where(parent_id: nil).order(:name).map { |p| [p.name, p.id] },
            { include_blank: true },
            { class: "small-select" } %>
            </div>

            <label for="starte_date_proj">Дата начала:</label>
            <%= l.date_field 'date_sP'%>
            <label>Дата окончания:</label>
            <%= l.date_field 'date_eP'%>
            <%= l.submit "Сгенирировать" %>
        <% end %>
    </div>  
</div>